
@import "variables.scss";

@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "node_modules/bootstrap/scss/mixins/_buttons.scss";
@import "node_modules/bootstrap/scss/mixins/_forms.scss";
@import "node_modules/bootstrap/scss/mixins/_gradients.scss";
@import "node_modules/bootstrap/scss/mixins/_box-shadow.scss";
@import "node_modules/bootstrap/scss/mixins/_hover.scss";

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: $white2;
  color: $grey;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  text-align: justified;
}

hr {
  border-top: 1px solid $grey2;
}

h1, h2, h3, h4 {
  color: $cyan;
}

table {
  border: 1px solid $grey4;
  td, th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid $grey4;
  }
}
.wp-block-table.aligncenter {
  margin: auto;
}

a {
  color: $cyan;
}

.icon {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.badge {
  color: $white;
  padding: .45em .75em;
  border-radius: .95rem;
  margin-right: .4rem;
  margin-bottom: .4rem;
  background-color: $grey2;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn, .wp-block-button__link {
  color: $cyan;
  box-shadow: $bottom-shadow;
  border-radius: $border-radius;
  &:hover {
    text-decoration: none;
    box-shadow: $bottom-shadow-hover;
  }
}

.btn-primary, .wp-block-button__link {
  @include button-variant($cyan2, $cyan2, $cyan);  
}

.btn-menu {
  @include button-variant($white, $white, $white);
  margin-bottom: .5rem;
  display: block;
}

.btn-subitem {
  display: block;
  color: $grey;
  padding: .8rem 1.2rem;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.btn-menu, .btn-collapse {
  width: 100%;
  color: $grey;
  padding: .8rem 1.2rem;
  text-align: left;
  font-size: 1.2rem;
  p {
    margin: 0rem;
    padding: .3rem;
    display: inline-block;
  }
  .icon {
    max-width: 2.2rem;
    float: right;
  }
}

.btn-with-icon {
  p {
    max-width: 75%;
  }
}

.btn-collapse {

  background-color: transparent;
  border: none;
  .plus {
    transform: rotate(45deg);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    float: right;
    background-image: url(../../assets/images/mais.svg);
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.4rem;
  }
  &.collapsed {
    .plus {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  &:focus {
    outline: none;
  }
}

.form-control {
  height: 3rem;
  padding-left: 1.5rem;
  border: none;
  border-radius: 0px;
  &:focus {
    box-shadow: 0 0 0 $input-btn-focus-width rgba($cyan,0.5);
  }
  &::placeholder {
    color: $grey3;
  }
}

.form-control, .form-control:focus {
  background-color: $white2;
}

.schedule-date {
  font-size: 32px;
  color: $cyan;
}

.panel {
  background-color: $white;
  box-shadow: $bottom-shadow;
  border-radius: $border-radius;
  padding: .8rem 1.2rem;
}

.panel-collapse {
  padding: 0;
}

.sidebar-social {
  background-color: $cyan;
  color: $white;
  h4 {
    margin: 0;
    color: $white;
  }
  .share-buttons {
    padding-right: 0px;
  }
  img {
    max-width: 2rem;
  }
}

.text-cyan {
  color: $cyan;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

section.map {
  border-top: solid .8rem $grey2;
  iframe {
    height: 400px;
    width: 100%;
  }
}

.placar {
  max-width: 30rem;
  .time {
    padding-top: .25rem;
    line-height: 1.1rem;
  }
  .resultado {
    border-bottom: solid 1px $grey4;
  }
  .pontos {
    line-height: 1.8rem;
    font-size: 1.8rem;   
  }
}

.gabinete {
  img {
    max-height: 12rem;
  }
  .description {
    padding-top: 2.2rem;
  }
}