.cardboard {
  @include media-breakpoint-up(md) {
     //width: 100%;
  }
  >div {
    display: flex;
  }
}

.card {
  cursor: pointer;
  transition: ease all .3s;
  width: 100%;
  min-width: 10.7rem;
  border: none;

  &:not(.not-click) {
    &:hover {
      box-shadow: $bottom-shadow-hover;
    }
  }
  
  .card-header {
    background-color: $white;
  }

  .card-header img{
    max-width: 100%;
    max-height: 100px;
  }

  .card-body {
    padding: .8rem;
  }

  .card-body .card-text{
    color: $grey2;
  }

  .card-footer {
    background: none;
    border-top: 0px;
    a:not(.btn-arrow) {
      margin-right: .8rem;
      text-decoration: none;
    }
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.card-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: $navbar-height + $menu-top;
  }

}

.not-click {
 cursor: auto;
}

.card-horizontal {
  padding: 1.4rem;
 
  a {
    text-decoration: none;
  }
  &:not(.not-click) {
    &:hover .card-title {
      color: $grey3;
    }
  } 
  .card-title {
    transition: color .2s ease-out;
    font-weight: bold;
    color: $cyan;
  }

  .card-section-left {
    @include media-breakpoint-down(md) {
      margin-bottom: .8rem;   
    }    
  }
  .card-section-right {
    padding-left: .4rem;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 0rem;
  }

  .card-footer {
    padding: 0rem;
  }
}