#carousel {
  border-bottom: solid 1rem $grey;
  height: 20rem;
  .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .carousel-caption {
    max-width: 600px;
    text-align: left;
    bottom: 35px;
    h3, h4 {
      color: $white;
      font-weight: bold;
      padding: 2rem;
      background-color: $background-black;
    }
  }
}