@import "variables.scss";

.colors-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: .4rem;
  div {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .color-bar1 {
    background-color: $cyan-grad1;
  }
  .color-bar2 {
    background-color: $cyan-grad2;
  }
  .color-bar3 {
    background-color: $cyan-grad3;
  }
  .color-bar4 {
    background-color: $cyan-grad4;
  }
  .color-bar5 {
    background-color: $cyan-grad5;
  }
  .color-bar6 {
    background-color: $cyan-grad6;
  }
}