@import "variables.scss";

.dropdown {
    z-index: 1220;
}
.dropdown-menu {
    margin-top: -1px;
    margin-left: 0em;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: $white;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: $bottom-shadow;
} 
.dropdown:hover>a {
    color: $cyan;
}
.dropdown-item:hover {
    background-color: $cyan;
    
}
.dropdown-item {
    color: $grey2;
    padding-left: 1em;
}