footer {
  background-color: $grey;
  color: $white2;

  h1, h2, h3, h4 {
    color: $white2;
  }

  li a {
    color: $grey3;
  }

  .social-media {
    a {
      padding: 0rem 1rem;
      margin-bottom: 1rem;
    }
  }

  hr {
    margin-top: 0px;
    border-top: 2px solid $grey3;
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
      color: $grey2;

    }
  }

  .contact-info {
    margin-bottom: 1rem;
    color: $white;
    p {
      margin-bottom: 0px;
    }
  }

  .copyright {
    background-color: $grey2;
    color: $white;   
    img {
      max-width: 88px;
      margin-top: -8px;
    }
  }
}
