@import "variables.scss";

.gallery {
  background-color: $white;

  .gallery-text {
    max-width: 29rem;
  }

  .gallery-image {  
    width: 18rem;
    height: 13rem;
    margin: .4rem;
    display: inline-block;
  }

}