@import "variables.scss";

header.header{

  .navbar {
    z-index: 1211;
    width: 100%;
    background-color: $grey;

    @include media-breakpoint-up(lg) {
      height: $navbar-height;
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  .navbar-toggler {
    border: none;
  }

  .navbar-collapse {
    position: relative;
    max-width: 1140px;
    margin: auto;
  }

  .mobile-navbar-brand, .navbar-brand {
    background: url('../../assets/images/morrinhos.png') no-repeat;       
    background-position: center; 
    background-size: contain;    
  }

  .navbar-brand {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  .mobile-navbar-brand {
    width: 9rem;
    height: 2.5rem;
    margin: auto;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .navbar-nav {

    .dropdown>a {
      color: $white;
      display: inline-block;   
      text-decoration: none;
      padding-left: .3rem;
      padding-right: .3rem;
      padding-top: 1.2rem;
      @media (min-width: 1200px) {
        padding-left: .6rem;
        padding-right: .6rem;
      }
      @media (min-width: 1400px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .dropdown.current, .dropdown:hover {
      >a {
        //color: $cyan;
        text-shadow: 1px 1px 7px rgba(0,0,0,0.4);
      }
    }

    @include media-breakpoint-down(md) {

      .dropdown:not(.show)>a {
        height: 100%;
      }
      .dropdown-menu {
        box-shadow: none;
        background: none;
        border: none;
        margin-left: 1rem;
        margin-top: 0rem;
      }
      .dropdown-menu>a {
        color: $white;
        padding-top: .6rem;
        padding-bottom: .6rem;
      }
      .dropdown-item {
        padding-left: 2em;
      }
      .dropdown-item:hover {
        background: none;
      }
      .dropdown-item:focus {
        background: none;
      }
    }
    .dropdown-subitem {
      padding-left: 3rem;
    }
    @include media-breakpoint-up(lg) {

      padding-top: ($navbar-height / 2) - 0.6;
      padding-bottom: 2rem;

      .dropdown.current {
        >a {
          border-bottom: .2rem solid $cyan;
        }
      }

      .dropdown>a {
        height: 100%;
        padding-top: 0;//($navbar-height / 2) - 0.6;
      }
      .dropdown:hover .dropdown-menu {
        display: block;
      }
    }
  }

  .social-media-top {
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
    right: 0;
    top: 0;
    width: 15rem;
    padding: .55rem;
    a {
      padding: .2rem;
      text-decoration: none;
      img {
        max-height: .9rem;
        max-width: 1.2rem;
      }
    }
  }
  .font-size-buttons {
    color: $white;
    display: inline;    
    button {
      padding: .2rem .1rem;
      box-shadow: none;
      color: $white;
    }
    .reduce {
      font-size: .65rem;
    }
  }

}