.head-page {
  background-size: cover;
  background-position: center;

  .head-title {
    padding: 5vh 0 5vh 0;
    h2 {
      margin: auto;
      max-width: 44rem;
      background-color: $background-black;
      color: $white;
      font-weight: bold;
    }
  }
}
