@import "variables.scss";

.schedule {

  a {
    text-decoration: none;
  }
  .calendar-date-col {
    max-width: 6.5rem;
  }
  .calendar-date {
    background-color: $cyan;
    color: $white;
    padding: 1rem .8rem 1rem 0;
    text-align: right;
    .day {
      font-size: 1.8rem;
      line-height: 26px;
    }
    .month {
      font-size: .7rem;
    }
  }
  .col {
    padding-left: 0px;
  }
  .schedule-title {
    color: $grey;
    padding-top: .5rem;
  }
}