@import "variables.scss";

.search-form {
  background-color: $grey2;
  form {
    margin: auto;
    @include media-breakpoint-up(md) {
      max-width: 88%;
    }
  }
  .form-control {
    display: inline;
    min-width: 85%;
    width: unset;
  }
  button {
    background-color: transparent;
    border: none;
  }
}