$cyan: #09afa7;
$cyan2: #09a0a0;

$cyan-grad1: #12f3e8;
$cyan-grad2: #0be0d5;
$cyan-grad3: #0ac7be;
$cyan-grad4: #09afa7;
$cyan-grad5: #089790;
$cyan-grad6: #077e79;

$white: #FFFFFF;
$white2: #eeeeee;
$white3: #F3F3F3;
$grey: #808080;
$grey2: #525257;
$grey3: #AAA;
$grey4: #dee2e6;
$black: #1A1A1A;

$navbar-height: 7.5rem;
$menu-top: 0rem;

$bottom-shadow: 0px 4px 10px rgba(0,0,0,0.1);
$bottom-shadow-hover: 0px 4px 20px rgba(0,0,0,0.3);

$border-radius: .40rem;

$input-btn-focus-color: $cyan;

$background-black: rgba(0,0,0,.7);