body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #eeeeee;
  color: #808080; }

img {
  max-width: 100%;
  max-height: 100%; }

p {
  text-align: justified; }

hr {
  border-top: 1px solid #525257; }

h1, h2, h3, h4 {
  color: #09afa7; }

table {
  border: 1px solid #dee2e6; }
  table td, table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6; }

.wp-block-table.aligncenter {
  margin: auto; }

a {
  color: #09afa7; }

.icon {
  max-width: 2.5rem;
  max-height: 2.5rem; }

.badge {
  color: #FFFFFF;
  padding: .45em .75em;
  border-radius: .95rem;
  margin-right: .4rem;
  margin-bottom: .4rem;
  background-color: #525257; }

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.btn, .wp-block-button__link {
  color: #09afa7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem; }
  .btn:hover, .wp-block-button__link:hover {
    text-decoration: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); }

.btn-primary, .wp-block-button__link {
  color: #FFFFFF;
  background-color: #09a0a0;
  border-color: #09a0a0; }
  .btn-primary:hover, .wp-block-button__link:hover {
    color: #FFFFFF;
    background-color: #09afa7;
    border-color: #067070; }
  .btn-primary:focus, .btn-primary.focus, .wp-block-button__link:focus, .wp-block-button__link.focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 174, 174, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled, .wp-block-button__link.disabled, .wp-block-button__link:disabled {
    color: #FFFFFF;
    background-color: #09a0a0;
    border-color: #09a0a0; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle, .wp-block-button__link:not(:disabled):not(.disabled):active, .wp-block-button__link:not(:disabled):not(.disabled).active,
  .show > .wp-block-button__link.dropdown-toggle {
    color: #FFFFFF;
    background-color: #067070;
    border-color: #066464; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus, .wp-block-button__link:not(:disabled):not(.disabled):active:focus, .wp-block-button__link:not(:disabled):not(.disabled).active:focus,
    .show > .wp-block-button__link.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(46, 174, 174, 0.5); }

.btn-menu {
  color: #212529;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin-bottom: .5rem;
  display: block; }
  .btn-menu:hover {
    color: #212529;
    background-color: #FFFFFF;
    border-color: #e6e6e6; }
  .btn-menu:focus, .btn-menu.focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5); }
  .btn-menu.disabled, .btn-menu:disabled {
    color: #212529;
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  .btn-menu:not(:disabled):not(.disabled):active, .btn-menu:not(:disabled):not(.disabled).active,
  .show > .btn-menu.dropdown-toggle {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #dfdfdf; }
    .btn-menu:not(:disabled):not(.disabled):active:focus, .btn-menu:not(:disabled):not(.disabled).active:focus,
    .show > .btn-menu.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5); }

.btn-subitem {
  display: block;
  color: #808080;
  padding: .8rem 1.2rem; }
  .btn-subitem:hover {
    color: #1A1A1A;
    text-decoration: none; }

.btn-menu, .btn-collapse {
  width: 100%;
  color: #808080;
  padding: .8rem 1.2rem;
  text-align: left;
  font-size: 1.2rem; }
  .btn-menu p, .btn-collapse p {
    margin: 0rem;
    padding: .3rem;
    display: inline-block; }
  .btn-menu .icon, .btn-collapse .icon {
    max-width: 2.2rem;
    float: right; }

.btn-with-icon p {
  max-width: 75%; }

.btn-collapse {
  background-color: transparent;
  border: none; }
  .btn-collapse .plus {
    transform: rotate(45deg);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    float: right;
    background-image: url(../../assets/images/mais.svg);
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.4rem; }
  .btn-collapse.collapsed .plus {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .btn-collapse:focus {
    outline: none; }

.form-control {
  height: 3rem;
  padding-left: 1.5rem;
  border: none;
  border-radius: 0px; }
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(9, 175, 167, 0.5); }
  .form-control::placeholder {
    color: #AAA; }

.form-control, .form-control:focus {
  background-color: #eeeeee; }

.schedule-date {
  font-size: 32px;
  color: #09afa7; }

.panel {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  padding: .8rem 1.2rem; }

.panel-collapse {
  padding: 0; }

.sidebar-social {
  background-color: #09afa7;
  color: #FFFFFF; }
  .sidebar-social h4 {
    margin: 0;
    color: #FFFFFF; }
  .sidebar-social .share-buttons {
    padding-right: 0px; }
  .sidebar-social img {
    max-width: 2rem; }

.text-cyan {
  color: #09afa7; }

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

section.map {
  border-top: solid 0.8rem #525257; }
  section.map iframe {
    height: 400px;
    width: 100%; }

.placar {
  max-width: 30rem; }
  .placar .time {
    padding-top: .25rem;
    line-height: 1.1rem; }
  .placar .resultado {
    border-bottom: solid 1px #dee2e6; }
  .placar .pontos {
    line-height: 1.8rem;
    font-size: 1.8rem; }

.gabinete img {
  max-height: 12rem; }

.gabinete .description {
  padding-top: 2.2rem; }

.cardboard > div {
  display: flex; }

.card {
  cursor: pointer;
  transition: ease all .3s;
  width: 100%;
  min-width: 10.7rem;
  border: none; }
  .card:not(.not-click):hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    background-color: #FFFFFF; }
  .card .card-header img {
    max-width: 100%;
    max-height: 100px; }
  .card .card-body {
    padding: .8rem; }
  .card .card-body .card-text {
    color: #525257; }
  .card .card-footer {
    background: none;
    border-top: 0px;
    padding-right: 1rem;
    padding-left: 1rem; }
    .card .card-footer a:not(.btn-arrow) {
      margin-right: .8rem;
      text-decoration: none; }
  .card.card-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 7.5rem; }

.not-click {
  cursor: auto; }

.card-horizontal {
  padding: 1.4rem; }
  .card-horizontal a {
    text-decoration: none; }
  .card-horizontal:not(.not-click):hover .card-title {
    color: #AAA; }
  .card-horizontal .card-title {
    transition: color .2s ease-out;
    font-weight: bold;
    color: #09afa7; }
  @media (max-width: 991.98px) {
    .card-horizontal .card-section-left {
      margin-bottom: .8rem; } }
  .card-horizontal .card-section-right {
    padding-left: .4rem;
    display: flex;
    position: relative;
    flex-direction: column; }
  .card-horizontal .card-body {
    flex: 1 1 auto;
    padding: 0rem; }
  .card-horizontal .card-footer {
    padding: 0rem; }

#carousel {
  border-bottom: solid 1rem #808080;
  height: 20rem; }
  #carousel .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  #carousel .carousel-caption {
    max-width: 600px;
    text-align: left;
    bottom: 35px; }
    #carousel .carousel-caption h3, #carousel .carousel-caption h4 {
      color: #FFFFFF;
      font-weight: bold;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.7); }

.colors-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: .4rem; }
  .colors-bar div {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .colors-bar .color-bar1 {
    background-color: #12f3e8; }
  .colors-bar .color-bar2 {
    background-color: #0be0d5; }
  .colors-bar .color-bar3 {
    background-color: #0ac7be; }
  .colors-bar .color-bar4 {
    background-color: #09afa7; }
  .colors-bar .color-bar5 {
    background-color: #089790; }
  .colors-bar .color-bar6 {
    background-color: #077e79; }

.dropdown {
  z-index: 1220; }

.dropdown-menu {
  margin-top: -1px;
  margin-left: 0em;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #FFFFFF;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }

.dropdown:hover > a {
  color: #09afa7; }

.dropdown-item:hover {
  background-color: #09afa7; }

.dropdown-item {
  color: #525257;
  padding-left: 1em; }

footer {
  background-color: #808080;
  color: #eeeeee; }
  footer h1, footer h2, footer h3, footer h4 {
    color: #eeeeee; }
  footer li a {
    color: #AAA; }
  footer .social-media a {
    padding: 0rem 1rem;
    margin-bottom: 1rem; }
  footer hr {
    margin-top: 0px;
    border-top: 2px solid #AAA; }
  footer a {
    color: #FFFFFF; }
    footer a:hover {
      text-decoration: none;
      color: #525257; }
  footer .contact-info {
    margin-bottom: 1rem;
    color: #FFFFFF; }
    footer .contact-info p {
      margin-bottom: 0px; }
  footer .copyright {
    background-color: #525257;
    color: #FFFFFF; }
    footer .copyright img {
      max-width: 88px;
      margin-top: -8px; }

.gallery {
  background-color: #FFFFFF; }
  .gallery .gallery-text {
    max-width: 29rem; }
  .gallery .gallery-image {
    width: 18rem;
    height: 13rem;
    margin: .4rem;
    display: inline-block; }

header.header .navbar {
  z-index: 1211;
  width: 100%;
  background-color: #808080; }
  @media (min-width: 992px) {
    header.header .navbar {
      height: 7.5rem;
      padding-top: 0;
      padding-bottom: 0; } }

header.header .navbar-toggler {
  border: none; }

header.header .navbar-collapse {
  position: relative;
  max-width: 1140px;
  margin: auto; }

header.header .mobile-navbar-brand, header.header .navbar-brand {
  background: url("../../assets/images/morrinhos.png") no-repeat;
  background-position: center;
  background-size: contain; }

header.header .navbar-brand {
  display: none; }
  @media (min-width: 992px) {
    header.header .navbar-brand {
      display: block; } }

header.header .mobile-navbar-brand {
  width: 9rem;
  height: 2.5rem;
  margin: auto; }
  @media (min-width: 992px) {
    header.header .mobile-navbar-brand {
      display: none; } }

header.header .navbar-nav .dropdown > a {
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding-left: .3rem;
  padding-right: .3rem;
  padding-top: 1.2rem; }
  @media (min-width: 1200px) {
    header.header .navbar-nav .dropdown > a {
      padding-left: .6rem;
      padding-right: .6rem; } }
  @media (min-width: 1400px) {
    header.header .navbar-nav .dropdown > a {
      padding-left: 1rem;
      padding-right: 1rem; } }

header.header .navbar-nav .dropdown.current > a, header.header .navbar-nav .dropdown:hover > a {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4); }

@media (max-width: 991.98px) {
  header.header .navbar-nav .dropdown:not(.show) > a {
    height: 100%; }
  header.header .navbar-nav .dropdown-menu {
    box-shadow: none;
    background: none;
    border: none;
    margin-left: 1rem;
    margin-top: 0rem; }
  header.header .navbar-nav .dropdown-menu > a {
    color: #FFFFFF;
    padding-top: .6rem;
    padding-bottom: .6rem; }
  header.header .navbar-nav .dropdown-item {
    padding-left: 2em; }
  header.header .navbar-nav .dropdown-item:hover {
    background: none; }
  header.header .navbar-nav .dropdown-item:focus {
    background: none; } }

header.header .navbar-nav .dropdown-subitem {
  padding-left: 3rem; }

@media (min-width: 992px) {
  header.header .navbar-nav {
    padding-top: 3.15rem;
    padding-bottom: 2rem; }
    header.header .navbar-nav .dropdown.current > a {
      border-bottom: 0.2rem solid #09afa7; }
    header.header .navbar-nav .dropdown > a {
      height: 100%;
      padding-top: 0; }
    header.header .navbar-nav .dropdown:hover .dropdown-menu {
      display: block; } }

header.header .social-media-top {
  right: 0;
  top: 0;
  width: 15rem;
  padding: .55rem; }
  @media (min-width: 992px) {
    header.header .social-media-top {
      position: absolute; } }
  header.header .social-media-top a {
    padding: .2rem;
    text-decoration: none; }
    header.header .social-media-top a img {
      max-height: .9rem;
      max-width: 1.2rem; }

header.header .font-size-buttons {
  color: #FFFFFF;
  display: inline; }
  header.header .font-size-buttons button {
    padding: .2rem .1rem;
    box-shadow: none;
    color: #FFFFFF; }
  header.header .font-size-buttons .reduce {
    font-size: .65rem; }

.head-page {
  background-size: cover;
  background-position: center; }
  .head-page .head-title {
    padding: 5vh 0 5vh 0; }
    .head-page .head-title h2 {
      margin: auto;
      max-width: 44rem;
      background-color: rgba(0, 0, 0, 0.7);
      color: #FFFFFF;
      font-weight: bold; }

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .pagination a, .pagination span {
    margin: .4rem; }
  .pagination a {
    color: #09afa7; }

.schedule a {
  text-decoration: none; }

.schedule .calendar-date-col {
  max-width: 6.5rem; }

.schedule .calendar-date {
  background-color: #09afa7;
  color: #FFFFFF;
  padding: 1rem .8rem 1rem 0;
  text-align: right; }
  .schedule .calendar-date .day {
    font-size: 1.8rem;
    line-height: 26px; }
  .schedule .calendar-date .month {
    font-size: .7rem; }

.schedule .col {
  padding-left: 0px; }

.schedule .schedule-title {
  color: #808080;
  padding-top: .5rem; }

.search-form {
  background-color: #525257; }
  .search-form form {
    margin: auto; }
    @media (min-width: 768px) {
      .search-form form {
        max-width: 88%; } }
  .search-form .form-control {
    display: inline;
    min-width: 85%;
    width: unset; }
  .search-form button {
    background-color: transparent;
    border: none; }

.single-page p {
  text-align: justify; }

.single-page .btn-share {
  text-decoration: none;
  color: #1A1A1A; }
